body
{
	/*min-width: 1104px;
	min-height: 660px;*/
	padding: 0;
	color: #000;
	background-color: #f1f5f8;
	background-repeat: repeat-x;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif, Times, "Times New Roman", "SolaimanLipi", "AdorshoLipi", "Vrinda", "Siyam Rupali", "Shonar bangla", serif !important;
	font-size: 100%;
	font-size: 14px;
	line-height: 1.4;
	padding: 1em;
}
a{
	color: #7BC534;
}
a:hover{
	color: #cccccc;
}

#container{
	width: 1080px;
	min-width: 1080px;
	height: 100%;
	margin: auto;
	padding: 0.5em;
	border: 2px solid #333333;
	background-color: #fcfcfc;
	text-align: left;
	border-color: #00F91C;
	border-radius: 6px;
	border-style: outset inset inset outset;
	border-width: 2px;
	 box-shadow: 0px 0px 8px #888888;
}
#header{
	height: 60px;
	margin: 0 0 0.5em 0;
	padding: 1em;
	border: 1px solid #333333;
	background: #9ed55f; /* Old browsers */
	background: linear-gradient(to bottom, #6AA121 5%, #9ed55f 100%); /* W3C */
    /*background-image: url(BackgroundH.png);
	background-repeat: repeat-x;*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6AA121', endColorstr='#9ed55f',GradientType=0 ); /* IE6-9 */
	overflow: visible;
	border-color: #f1f5f8;
	border-radius: 6px;
	border-style: outset inset inset outset;
	border-width: 1px;
	 box-shadow: 0px 0px 8px #888888;


}

#header h1{
	margin: 0;
	font-size: 28px;
	color: #666;
	font-family:Georgia
}
#header h3{
	margin: 0 0 0 1em;
	color: #cccccc;
	padding: 0;
	font-size: 16px;
	font-style: italic;
}
#nav{
	margin: 0;
	padding-bottom: 10px;
	float: left;
	height: 100%;
	
}
#nav a{
	padding: 2px 0 2px 0;
	margin: 0 0 1px 0;
	width: 100%;
	display: block;
	text-indent: 1em;
	border: 1px solid #333333;
	background:#9C9C9C url(nav_sidebar.gif) no-repeat;
	font-variant: small-caps;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#nav a:hover{
color:#666;
	background:#E0E0E0 url(nav_hover.gif) no-repeat;
}
#content{
	float: center;
	margin: 0 0 0 0.5em;
	padding: 0 0.5em 0 0.5em;
	width: 70%;
	border-left: 0px solid #333333;
}
#content h2{
	background:#8C8C8C url(nav_title.gif) no-repeat;
	border: 1px solid #333333;
	text-indent: 0.5em;
	font-size: 12px;
	font-variant: small-caps;
	color: #ffffff;
	margin: 0;
	padding: 2px;
}
#content p{
	margin: 0.5em;
	padding: 0;
}

#footer{
	clear: both;
	text-align: center;
	height: 40px;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	border: 1px solid #333333;
}
#footer p{
	margin: 1em;
	padding: 0;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:4px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	width: 160px;
	height: 30px;
}
.myButton1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.myButton1:active {
	position:relative;
	top:1px;
}

.myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:4px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	width: 160px;
	height: 30px;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.myButton3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButton3:active {
	position:relative;
	top:1px;
}


ul {
    display: block;
}

.headerDivImg, .messageDivImg, .messageDivImg_ {
	float: left;
    width: 100%;
}
.titleTextImg {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
	
	
}
.imageDivLink {
    float: right;
}
.headerDivImg {
    background-color: #0037db;
    color: #9eb6ff;
}
.messageDivImg, .messageDivImg_ {
    background-color: #ffe694;
    text-align: center;
	font-size: 14px;
}
.headerDivImg img {
    float: right;
    margin: 10px 10px 5px 5px;
}
div#home
{
	margin-left: auto; 
	margin-right: auto;
	/*background-color: red;*/
}
div#content
{
	margin-left: auto; 
	margin-right: auto;
	//background-color: red;
	
}
#downloadeiinwithminimumGPA
{
	/*background-color: red;*/
}
.footer {
	padding: 10px 0;
	background: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	height: 40px;
	background-color: #f1f5f8;
	background-image: url(Background.png);
	border-color: #f1f5f8;
	border-radius: 6px;
	border-style: outset inset inset outset;
	border-width: 1px;
	font-weight: bold;
	color: #006;
}
.copyRight
{
	float: left;
	padding-left: 15px;
	width: 490px;
	line-height: 40px;
	vertical-align: middle;
}
.techicalAssistance
{
	float: right;
	padding-right: 15px;

	
}

.techicalAssistance span
{
	line-height: 40px;
	vertical-align: middle;
}

.techicalAssistance a
{
	color: #900;
	text-decoration:none;
}
#titleTextImg
{
	padding: 5px;
}

.buetHelpline
{
	color: red;
	font-size: 18px;
}

.boardHelpline
{
	padding-top: 36px;
}
.button.button2
{
	font-size: 30px;
	border-color: #646464;
	border-radius: 6px;
	border-style: outset inset inset outset;
	border-width: 1px;
	 box-shadow: 0px 0px 8px #888888;
}
.button.button3
{
	font-size: 30px;
	border-color: #646464;
	border-radius: 6px;
	border-style: outset inset inset outset;
	border-width: 1px;
	 box-shadow: 0px 0px 8px #888888;
}
a:hover {
    cursor: pointer;
}
#downloadeiinwithminimumGPA .eiinDetails
{
	border: none;
}
.titleTextImg
{
	text-align: center;
	width: 100%;
	text-size: 21px;
}